<div class="container">
  <h1>Ma Cave à Vin 🍷</h1>

  <div class="search-container">
    <svg class="search-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
    <input
      type="text"
      placeholder="Rechercher un vin ou un domaine..."
      (input)="onSearch($event)"
    >
  </div>

  <div class="stats">
    <p>Total : <strong>{{ filteredVins().length }}</strong> références trouvées</p>
  </div>

  <table>
    <thead>
    <tr>
      <th>Nom / Domaine</th>
      <th>Année</th>
      <th>Couleur</th>
      <th>Quantité</th>
      <th>Emplacement</th>
    </tr>
    </thead>
    <tbody>
      @for (vin of filteredVins(); track vin.id) {
        <tr>
          <td>
            <strong>{{ vin.nom }}</strong><br>
            <small>{{ vin.domaine }}</small>
          </td>
          <td>{{ vin.millesime }}</td>
          <td>
            <span class="badge" [class]="vin.couleur?.toLowerCase()">
              <svg class="icon-bottle" viewBox="0 0 24 24" fill="currentColor">
                <path
                  d="M9.571 11.888c-.605.384-1.143 1.14-1.143 2.154v6.958h7.144v-6.958c0-1.014-.538-1.77-1.143-2.154l-1.357-.863V6.35h.714V3.5H10.214v2.85h.714v4.675l-1.357.863zM7 14.042C7 11.98 8.174 10.54 9.229 9.87L10.929 8.79V7h-2.5V2h7.143v5h-2.5v1.79l1.699 1.08c1.056.67 2.229 2.11 2.229 4.172V22.5H7v-8.458z"/>
              </svg>
              {{ vin.couleur }}
            </span>
          </td>

          <td class="qty-actions">
            <button (click)="changerQuantite(vin, -1)" [disabled]="vin.quantite <= 0" title="Boire une bouteille">
              <svg class="icon-action" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 12H4"/>
              </svg>
            </button>

            <span class="qty-value">{{ vin.quantite }}</span>

            <button (click)="changerQuantite(vin, 1)" title="Ajouter au stock">
              <svg class="icon-action" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"/>
              </svg>
            </button>
          </td>
          <td>{{ vin.emplacement }}</td>
        </tr>
      } @empty {
        <tr>
          <td colspan="5">Aucun vin trouvé dans la cave.</td>
        </tr>
      }
    </tbody>
  </table>
</div>
